@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
}

#tuttapagina {
	background-color: black;
}

#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color: white;
}
#imm {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#azienda {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#stagione {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#login {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 20px;
}
#utente {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
	padding-top: 20px;
}
#inputlogin {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
	padding-top: 20px;	
}
#password {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#inputpassword {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#loginform {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 20px;
}
#risultatiricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 20px;
}
#inputricerca {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#buttonricerca {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}
#divazienda {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 100%;
	display: block;
	text-align: center;
}
#listaordini {
	clear: none;
	float: left;stagione
	margin-left: 3.4482%;
	width: 100%;
	display: block;
}

.ricerca {
	width: 100%;	
}

.cerca {
	width: 100%;
}

.divazienda p {
	padding-top: 5px;
	padding-bottom: 5px;	
	text-align:center;
}

.divazienda a {
	font-size: 14px;
	text-decoration: none;
}

.login {

}

.divazienda {
	width: 23%;
	display: block;
	border: 1px solid black;
	float: left;
	margin-right: 1.6949%;
	margin-top: 15px;
}
.divprodotto {
	width: 23%;
	display: block;
	border: 1px solid black;
	float: left;
	margin-right: 1.6949%;
	margin-top: 15px;
	text-align: center;
}
.divordine {
	width: 23%;
	display: block;
	border: 1px solid black;
	float: left;
	margin-right: 1.6949%;
	margin-top: 15px;
	text-align: left;
	padding-left: 20px;
}
.immprodotto {
	width: 90%;
	height: auto;
}

table.materiali {
	margin: auto;
	text-align: center;
}

table.materiali td {
	padding-left: 5px;
	padding-right: 5px;	
}

span.checked {
	position: relative;
	top: -10px;
	left: -10px;
	border: 1px solid red;
	width: 20px;
	height: 20px;
}

a.nuovoordine, a.listaordini, a.confermaordine {
	color: white;	
	font-size: 18px;
}

#immaginemodal {
	position: relative;
	float: left;
	clear: both;
	width: 30%;
}

#descrizionemodal {
	position: relative;
	float: right;
	width: 69%;
}

#tabellamodal {
	position: relative;
	width: 100%;
}

input.qnt {
	width: 40px;	
}

input.prezzounitario {
	width: 60px;	
}

input.prezzototale {
	width: 60px;	
}

img.disponibilita {
	width: 30px;
	height: auto;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imm {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#azienda {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#stagione {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#login {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#utente {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#inputlogin {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#password {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#inputpassword {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#loginform {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#risultatiricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#inputricerca {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#buttonricerca {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#divazienda {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#listaordini {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#imm {
	clear: both;
	float: left;
	margin-left: 0;
	width: 15.2542%;
	display: block;
}
#azienda {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}
#stagione {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#login {
	clear: both;
	float: left;
	margin-left: 25.4237%;
	width: 49.1525%;
	display: block;
}
#utente {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}
#inputlogin {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}
#password {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}
#inputpassword {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}
#loginform {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#risultatiricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#inputricerca {
	clear: both;
	float: left;
	margin-left: 0;
	width: 83.0508%;
	display: block;
}
#buttonricerca {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 15.2542%;
	display: block;
}

#listaordini {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 32.2033%;
	display: block;
}
}